<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业详情</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css" />
    <script>
        document.getElementsByTagName("html")[0].style.fontSize = 100 * (document.documentElement.clientWidth /750) + 'px';
    </script>
</head>
<body>
<section class="majorBar">
    <p class="majorWord">
{% autoescape %}
    {% if type==1 %}
        {{ data.zyjs|raw }}
    {% else %}
        {{ data.jyfx|raw }}
    {% endif %}
{% endautoescape %}
    </p>
</section>
</body>
</html>