<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用须知</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style2.css') }}">
    <script>
        document.getElementsByTagName("html")[0].style.fontSize = 100 * (document.documentElement.clientWidth /750) + 'px';
    </script>
</head>
<body>
    <section class="useInst">
        <div class="yellowArea">
            <img src="{{ asset('bundles/app/images/use4.jpg') }}" alt="" class="blk">
            <h4>用户在使用本系统时请认真阅读以下说明</h4>
        </div>
        <section>
            <div class="useList">
                <h4 class="listOne">关于难度系数</h4>
                <p>根据目标院校专业的热度和考生本科阶段学业水平计算得来</p>
            </div>
            <div class="useList">
                <h4 class="listTwo">关于分数线</h4>
                <p>系统显示的是最低录取分数线，实际录取线会根据目标的热度和招生情况调整</p>
            </div>
            <div class="useList">
                <h4 class="listThree">免责声明</h4>
                <p class="hasBot">本系统数据来源于官方权威部门（教育部或者考研招生单位），如有数据和官方发布数据不一致的，请以官方公布的数据为准</p>
                <p>本系统通过科学测算，结果接近准确，但因为影响最终录取的因素很多，因此此系统仅作报考院校的参考，不能作为选择院校的唯一依据。</p>
            </div>
        </section>
    </section>
</body>
</html>